.contenedor{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 80%;
    min-height: 100vh;
    margin: auto;
}

#header{
    width: 100%;
    background-color: rgb(201, 60, 60);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
}

.main-content{
    display: flex;
    width: 100%;
    flex: 1;
    align-items: stretch;
    gap: 10px;
}
#aside-left{
    flex: 1;
    background-color: rgb(183, 209, 16);
    color: white;
    text-align: center;
    padding: 20px;
}

#main{
    flex: 3;
    background-color: rgb(121, 33, 209);
    color: white;
    text-align: center;
    padding: 20px;;
}

#aside-right{
    flex: 1;
    background-color: rgb(183, 209, 16);
    color: white;
    text-align: center;
    padding: 20px;
}

#footer{
    width: 100%;
    background-color: rgb(60, 201, 201);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
}
